# Traefik Configuration
api:
  dashboard: true
  insecure: true  # Set to false in production

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: internal
    watch: true

log:
  level: INFO
  format: common

accessLog:
  format: common
  filters:
    statusCodes:
      - "200-299"
      - "400-599"
